@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: black; */
  background: white;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .drag-and-drop {
    display: flex;
    justify-items: center;
    flex-direction: column;
    row-gap: 4px;
    padding: 10px;
    /* border: 1px solid gray; */
    border-radius: 10px;
  }
  .draggable-item {
    background: white;
    color: black;
    border-radius: 10px;
    padding: 14px;
    display: flex;
    justify-items: center;
  }
}
